* {
  margin: 0;
  padding: 0;
  /*
paleta de colores custom*/
  c: #6096b4;
  c: #93bfcf;
  c: #bdcdd6;
  c: #eee9da;
  /*
*/
}

body {
  background: #eee9da;
}
.navbar {
  background-color: #1985a1;
}

.float-izq {
  float: right;
  margin-right: 0%;
}

#carrusel {
  padding: 2.5% 20% 2.5% 20%;

  /* position: fixed elimina el scroll vertical para la pantalla inicial con el carrusel*/
  position: static;
  border: black;
}
.card {
  margin: 0 auto;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.h1tienda {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #bdcdd6;
  margin-bottom: 2.5%;
}
#carrito {
  width: 20%;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  line-height: 50px;
}
/*
CONFIGURACIONES NAVBAR
*/

nav {
  background: #6096b4;
  height: 80px;
  width: 100%;
}
.enlace {
  position: absolute;
  padding: 1.5%;
}
.logo {
  height: 40px;
}
nav ul {
  float: right;
  margin-right: 1%;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: #fff;
  font-size: 18px;
  padding: 25px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}
li a.active,
li a:hover {
  background: #93bfcf;
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
section {
  background: url(fondo.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 80px);
}

@media (max-width: 952px) {
  .enlace {
    padding-left: 20px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #93bfcf;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  li a:hover,
  li a.active {
    background: none;
    color: #6096b4;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
