* {
  margin: 0;
  padding: 0;
}

body {
  background: #EEE9DA;
  
}
.navbar {
  background-color: #1985a1;
 
}
.logo-padding {
  padding-left: 1%;
}
.float-izq {
  float: right;
  margin-right: 0%;
}
header {
  margin: 0;
}
#carrusel { 

  padding: 2.5% 20% 2.5% 20%;
  
  /* position: fixed elimina el scroll vertical para la pantalla inicial con el carrusel*/
  position: static;
  border:black;
  
  
}
.card{
  margin:0 auto;
}
#btnLogin {
  position: absolute;
  right: 2%;
}
#loginFoto {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.dropstart {
  z-index: 999;
}
.anchomenu {
  width: 20em !important;
}

.row {
  margin-left: 0;
  margin-right: 0;
}
#menucustom{
  height: 7vh;
  display: flex;
  align-items: center;
  background-color: #6096B4;
  
}
#fotologo{
  width: 15%;
}
a:link,a:visited{
  text-decoration: none;
  
}
.menucustom{
  height: 100%;
  display: flex;
  align-items: center;
  
}
.menulogo{
  display: flex;
  align-items: center;
}
.menucustom:hover{
  background-color:green;
}
.h1tienda{
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #93BFCF;
  margin-bottom: 2.5%;
}
