{%extends "clientes/base.html"%} {% load static %}{% block content %}

<div class="shoppingCart">
  {%if items%}
  <div class="row">
    <div class="col-3">
      <h6>Imagen</h6>
    </div>
    <div class="col-5">
      <h6>Nombre</h6>
    </div>
    <div class="col-1">
      <h6>Unidades</h6>
    </div>
    <div class="col-3">
      <h6>Valor Unitario</h6>
    </div>
  </div>

  {% for item in items %}
  <div class="row border filaCarrito">
    {%if item.product.img_prod%}
    <div class="col-3 "><img src="{{item.product.img_prod.url}}" alt="foto"></div>
    {%else%}
    <div class="col-3 "><img src="{%static 'img/imgnotfound.png'%}" alt="foto"></div>
    {%endif%}
    <div class="col-5 ">
      <p>
        {{item.product.nombre_producto}}</p>
    </div>
    <div class="col-1 ">
      <p id="quantity{{item.product.id_producto}}">{{item.quantity}}</p>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <p>${{item.product.valor_venta}}</p>
        </div>
        <div class="col"><button value="{{item.product.id_producto}}" class="btn border">Quitar</button></div>
      </div>

    </div>

  </div>

</div>
{%endfor%}
<div class="comprar">
  <div class="totalCompra">
    <h3>Total: ${{cart.total_price}}</h3>
  </div>
  <div class="col"><a href="{%url 'confirm_payment'  pk=cart.id%}">Comprar</a></div>
</div>


{%else%}
<h3>Tu carro está vacio, agrega algunos productos</h3>
<a href="{%url 'repuestos'%}">Agrega productos aquí</a>

{%endif%}
</div>

{% endblock content %}