    {%extends "clientes/base.html"%}
    {%load static%}
    {%block title%}Inicio{%endblock%}
    <!--
            Cuerpo principal de página
    -->
    {%block content%}
   <!--    Carrusel    -->
  <div id="carrusel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner rounded-3">
      <div class="carousel-item active">
        <img
          src="{% static 'img/slider1.jpg'%}"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="{% static 'img/slider2.jpg'%}"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="{% static 'img/slider3.jpg'%}"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
  </div>
</header>
    <div class="row h1tienda csecundario">
      <h1>PRODUCTOS DESTACADOS</h1>
    </div>
    <!--
        slider productos principales
    -->
    <!-- Swiper -->
    <div class="cterciario">
      <div class="swiper mySwiper p-3">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="card">
              <img
                src="{% static 'img/imgitem.jpg'%}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <img
                src="{% static 'img/imgitem.jpg'%}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <img
                src="{% static 'img/imgitem.jpg'%}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <img
                src="{% static 'img/imgitem.jpg'%}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <img
                src="{% static 'img/imgitem.jpg'%}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <img
                src="{% static 'img/imgitem.jpg'%}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <img
                src="{% static 'img/imgitem.jpg'%}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <img
                src="{% static 'img/imgitem.jpg'%}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <img
                src=" {% static 'img/imgitem.jpg'%}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-next clink"></div>
        <div class="swiper-button-prev clink"></div>
      </div>
    </div>

    <div class="row h1tienda csecundario mt-3 mb-2">
      <h1 id="contacto">FORMULARIO DE CONTACTO</h1>
    </div>

    <div class="contacto container">
      <form id="formulario">
        <input
          id="nombre"
          class="formCont"
          type="text"
          placeholder="Nombre"
        /><br />
        <p hidden class="text-danger" id="errorNombre">MENSAJE DE ERROR</p>
        <input
          id="correo"
          class="formCont"
          type="text"
          placeholder="Correo"
        /><br />
        <p hidden class="text-danger" id="errorCorreo">MENSAJE DE ERROR</p>
        <input
          id="telefono"
          class="formCont"
          type="number"
          placeholder="Telefono"
        /><br />
        <p hidden class="text-danger" id="errorTelefono">MENSAJE DE ERROR</p>
        <textarea
          id="mensajeContacto"
          class="formCont"
          cols="30"
          rows="10"
          placeholder="Escriba su mensaje acá"
        ></textarea
        ><br />

        <button type="submit" class="formCont csecundario">Enviar</button>
      </form>
    </div>
    {%endblock%}
   
