{%extends "clientes/base.html"%}
{%load static%}
{%block title%}Inicio{%endblock%}
{%block content%}
      <div class="row h1tienda csecundario">
        <h1>Servicios</h1>

        
      </div>
      <div class=" container-flex row row-cols-1 row-cols-md-2 g-4">
        <div class="col container-flex carta-serv">
          <div class="card  cterciario">
            <img src="img/slider1.jpg" class="card-img-top" alt="...">
            <div class="card-body carta-serv" >
              <h5 class="card-title">Mecánica General</h5>
              <p class="card-text">Nuestros talleres ofrecen servicios de mecánica general, para consultas sobre ruidos raros, perdida de fluidos, piezas rotas, etc.</p>
            </div>
          </div>
        </div>
        <div class="col container-flex  carta-serv">
          <div class="card cterciario">
            <img src="img/vulca.jpg" class="card-img-top " alt="...">
            <div class="card-body carta-serv">
              <h5 class="card-title">Vulcanización</h5>
              <p class="card-text">Ofrecemos Servicios de Vulcanización y alineado en todas nuestras sucursales.</p>
            </div>
          </div>
        </div>
        <div class="col container-flex carta-serv">
          <div class="card  cterciario">
            <img src="img/electro.jpg" class="card-img-top" alt="...">
            <div class="card-body carta-serv">
              <h5 class="card-title">Escaner y electromecánica</h5>
              <p class="card-text">Texto generico de escaner y electromecánica</p>
            </div>
          </div>
        </div>
        <div class="col container-flex carta-serv ">
          <div class="card cterciario">
            <img src="img/slider3.jpg" class="card-img-top" alt="...">
            <div class="card-body carta-serv">
              <h5 class="card-title">Servicio Genérico</h5>
              <p class="card-text">Texto descriptivo Servicio genérico</p>
            </div>
          </div>
        </div>
      </div>
      {%endblock%}