
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>editar datos clientes</h1>
    <br>
    <button type="button">
        <a href="{% url 'clientesAdd'%}"> agregar</a>

    </button>
    <div id="mensajes">
        {%if mensaje%}
        {{mensaje}}
        {%endif%}

    </div>
    <table>
        {%if clientes%}
            <th>Rut</th>
            <th>nombre</th>
            <th>apellido</th>
            <th>eliminar</th>
            <th>modificar</th>
            {%for tmp in clientes %}
                <tr>
                    <td>{{tmp.rut}}</td>
                    <td>{{tmp.nombre}}</td>
                    <td>{{tmp.apellido_paterno}}</td>
                    <td><a href="{% url 'clientes_del' pk=tmp.rut %}">eliminar</a></td>
                    <td><a href="{% url 'clientes_findEdit' pk=tmp.rut %}">modificar</a></td>
                </tr>
            {%endfor%}
        {%endif%}
        

    </table>
</body>

</html>