<!DOCTYPE html>
{% load static %}

<html lang="es">
  <head>
    {%if not user.is_superuser%}

    <meta http-equiv="Refresh" content="0; url='{%url 'index'%}'" />
    {%endif%}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link
      rel="shortcut icon"
      href="{% static 'img/logo.ico' %}"
      type="image/x-icon"
    />
    <title>Mecánica MBJ</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body class="ccuarto">
    <!--
            Cabecera con menu y carrusel
        -->
    <nav class="cprimario">
      <input type="checkbox" id="check" />
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <a href="/clientes/index" class="enlace clink">
        <img src="{% static 'img/logo.png' %}" alt="" class="logo" /> Mecanica
        MBJ
      </a>

      <ul>
        <li class="dropdown">
            <div class="dropdown">
                <div>
                <a class="dropbtn">Mantenedores</a>
                <div class="dropdown-content">
                     <a href="{%url 'crud'%}">Mantenedor Usuarios</a>
                 <a href="{%url 'crud_prod'%}">Mantenedor Productos</a>
                  <a href="#">Link 3</a>
                </div>
              </div>
          </li>
        <li>
          <a href="{%url 'logout'%}" action=""
            >Cerrar Sesión <i class="fa-solid fa-arrow-left"></i
          ></a>
        </li>
        <li></li>
        
        
    </nav>
    <h1>
        
       
      {%if user.is_authenticated%} {{user.get_full_name}} {%else%} login
      {%endif%}
    </h1>
    <footer>
      <!--
             Footer
         -->
      <div class="container-fluid">
        <div class="row p-5 cprimario">
          <div class="col-lg-3 col-xs-12 col-md-6 pt-5">
            <a href="index" class="clink h4 logoimagen">
              <img src="img/logo.png" alt="" class="logo" /> Mecanica MBJ
            </a>
          </div>
          <div class="col-lg-3 col-xs-12 col-md-6">
            <h4 class="ctitulo">Enlaces</h4>
            <div>
              <ul>
                <li><a href="" class="clink">Inicio</a></li>
                <li><a href="" class="clink">Repuestos</a></li>
                <li><a href="" class="clink">Customización</a></li>
                <li><a href="" class="clink">Servicios</a></li>
                <li><a href="" class="clink">Contacto</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-xs-12 col-md-6"></div>
          <div class="col-lg-3 col-xs-12 col-md-6">
            <h4 class="ctitulo">Redes sociales</h4>
            <div class="flex-container clink">
              <a href="https://www.instagram.com" class="clink"
                ><i class="fa-brands fa-instagram"></i
              ></a>
              <a href="https://www.facebook.com" class="clink"
                ><i class="fa-brands fa-facebook"></i
              ></a>
              <a href="https://www.twitter.com" class="clink"
                ><i class="fa-brands fa-twitter"></i
              ></a>
              <a href="https://www.linkedin.com" class="clink"
                ><i class="fa-brands fa-linkedin"></i
              ></a>
              <a href="https://www.whatsapp.com" class="clink"
                ><i class="fa-brands fa-whatsapp"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 cprimario p-1 ctitulo" id="copyright">
          <p>Todos los derechos reservados</p>
        </div>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="{% static 'js/utilitario.js'%}"></script>
    <script src="{% static 'js/swiper.js'%}"></script>
  </body>
</html>

